.main-container {
    padding: 1.5rem 2rem;
    .status-container {
        font-size: 16px;
        letter-spacing: 0.8px;
        margin-bottom: 10px;
    }
    .table-container {
        .heading-element {
            min-width: calc(100%/13 - 8rem);
            max-width: calc(100%/13 - 8rem);
        }
        .row-element {
            min-width: calc(100%/13);
            max-width: calc(100%/13);
            padding: 0.4rem;
            .input-field {
                width: 3rem;
                background-color: var(--white);
                // border: 2px solid var(--table-border-color);
                border: 2px solid #b6b6b6;
                border-radius: 0.5rem;
                padding: 0.3rem 0.3rem;
            }
            .grey-border {
                border-color: #d4d4d4;
            }
            input {
                text-align: center;
                border: none;
                background-color: transparent;
                border-radius: 0.5rem;
                padding: 0.5rem 0rem;
                width: 50%;
                &:read-only {
                    color: var(--text-disabled);
                }
            }
        }
        .invalid {
            input.ng-touched.ng-invalid {
                color: var(--text-red);
                border-color: var(--border-red);
            }
        }
        .parameter {
            padding-left: 1rem;
            text-align: left;
            min-width: 11rem;
            max-width: 11rem;
            .info {
                cursor: pointer;
                font-size: 14px;
                padding-left: 0.25rem;
            }
        }
    }
}

.grey {
    color: var(--text-disabled);
}

.grey-border {
    border-color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .main-container {
        padding: 1rem;
        .table-container {
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
        }
    }
}