.pagination-cont {

    .pagi {
        display: flex;
        list-style-type: none;
        justify-content: flex-start;
        padding: 0;

        .pagi-item {


            .pagi-btn {
                background-color: white;
                outline: none;
                border: 1px solid #DEE2E6;
                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #7B6FFD;
            }

            .pagi-btn:hover {
                background-color: #F9F9FB;

            }
        }
    }
}