body {
    background-color: #f2f2f2 !important;
    background-image: url('../../../assets/img/rose-petals.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'poppins', sans-serif;
    .login-container {
        max-width: 400px;
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        border-radius: 25px;
        // margin: auto;
        .pannel-body {
            padding: 20px 40px;
            position: relative;
            border: 2px solid #000;
            border-radius: 25px;
            .text-center {
                display: flex;
                flex-direction: column;
                align-items: center;
                .logo-box {
                    margin: 10px;
                    // padding: 10px;
                    box-shadow: 0px 0px 12px #ccc;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    // padding: 20px;
                    img {
                        height: 100px;
                        width: 100px;
                        background-color: var(--side-nav-color);
                        // filter: invert(1);
                        // filter: hue-rotate(12deg);
                        border-radius: 50%;
                    }
                }
                h5 {
                    font-size: 24px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                    text-transform: capitalize;
                    margin: 10px 0px 20px;
                }
            }
            .field {
                display: flex;
                flex-direction: row;
                width: 100%;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 5px;
                margin-bottom: 20px;
                .inputField {
                    border: none;
                    font-family: 'poppins', sans-serif;
                    border-radius: 5px;
                    padding: 7px 12px;
                    font-size: 16px;
                }
                .icon {
                    color: #999;
                    font-size: 18px;
                    padding: 10px 10px;
                }
                .width65 {
                    width: 65%;
                    border-right: 1px solid #ddd;
                }
                .width35 {
                    width: 35%;
                }
                .width100 {
                    width: 100%;
                }
            }
            .term_condition {
                display: flex;
                flex-direction: row;
                gap: 4px;
                font-size: 13px;
                font-weight: 500;
                color: #000000;
                margin-bottom: 20px;
            }
            .button-signin {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                color: #ffffff;
                background-color: #070C33;
                border-color: #070C33;
                margin-bottom: 25px;
                border-radius: 5px;
                padding: 2px;
                button {
                    width: 100%;
                    padding: 7px 12px;
                    font-size: 16px;
                    color: #ffffff;
                    background-color: transparent;
                    border: none;
                    a {
                        color: #ffffff;
                    }
                }
            }
            .redirect {
                display: flex;
                justify-content: center;
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
}