.main-container {
    padding: 2rem;
    overflow: hidden;
    .form-container {
        display: flex;
        flex-direction: column;
        form {
            width: 100%;
        }
        .form-field {
            position: relative;
            float: left;
            display: flex;
            flex-direction: column;
            margin: 1rem 2rem;
            width: 220px;
            gap: 0.2rem;
            height: 6rem;
            select {
                font-size: 14px;
            }
            .form-label {
                word-wrap: break-word;
                // min-height: 2.5rem;
            }
            .input-fix-placeholder {
                position: absolute;
                margin-top: 2.3rem;
                margin-left: calc(100% - 1.5rem);
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
            }
            .icon-drop {
                position: absolute;
                margin-top: 2.3rem;
                margin-left: calc(100% + 0.5rem);
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                cursor: pointer;
            }
        }
    }
    .position-button {
        margin: -2rem 0rem 1rem 2rem;
    }
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: var(--form-section-bg);
    border-radius: 0.6rem;
    // margin-bottom: 2rem;
    font-size: 16px;
    font-weight: 500;
}

.report-form{
    display: flex;
    align-items: center;
}

.report-tip{
    margin-left: -1.5rem;
}