div {
    margin-top: 100px;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.redirect {
    cursor: pointer;
    user-select: none;
    margin: auto;
    margin-top: 5rem;
    padding: 10px 30px;
    border-radius: 0.7rem;
    width: max-content;
    background-color: #070C33;
    color: #ffffff;
    font-size: 20px;
}